.table {
  padding: 0 16px 16px;
  height: 480px;
  overflow-y: scroll;
}

.table::-webkit-scrollbar {
  width: 4px;
}

.table::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 16px;
  background: var(--gray-2);
}

.ExerciseItem {
  padding: 12px 0;
  border-bottom: 1px solid var(--gray-5);
}

.wrap {
  display: flex;
  width: 100%;
}

.exercise {
  flex-grow: 1;
  color: var(--gray-1);
}

.ko {
  font-size: 20px;
  font-weight: 600;
}

.en {
  font-size: 16px;
}

.group {
  display: flex;
  gap: 8px;

  font-size: 12px;
  color: var(--gray-2);
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.option {
  user-select: none;
  font-size: 14px;
  text-decoration: underline;
  color: var(--gray-2);
}

.placeholder {
  position: relative;
  width: 100%;
  height: 480px;
  padding: 0 16px 16px;
}

.placeholderText {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  color: var(--gray-2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
