.table {
  padding: 0 16px 16px;
  height: 480px;
  overflow-y: scroll;
  width: 100%;
}

.table::-webkit-scrollbar {
  width: 4px;
}

.table::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 16px;
  background: var(--gray-2);
}

.ExerciseItem {
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid var(--gray-5);
}

.wrap {
  display: flex;
  width: 100%;
}

.exercise {
  flex-grow: 1;
  margin-bottom: 8px;
  color: var(--gray-1);
}

.ko {
  font-size: 20px;
  font-weight: 600;
}

.en {
  font-size: 16px;
}

.group {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;

  font-size: 12px;
  color: var(--gray-2);
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.option {
  user-select: none;
  font-size: 14px;
  text-decoration: underline;
  color: var(--gray-2);
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 480px;
}

.placeholderText {
  color: var(--gray-2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.groupForm {
  width: 100%;
  margin-top: 8px;
}
.groupField {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.groupInput {
  flex-grow: 1;
  width: 30%;
  padding: 4px;
}

.groupSubmit {
  width: 100%;
}
