@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poppins:wght@400;700;800&display=swap");

:root {
  --gray-5: #343940;
  --gray-4: #3d434b;
  --gray-3: #484f59;
  --gray-2: #9a9fa7;
  --gray-1: #dce0e3;

  --pink-1: #ea5f8e;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p,
a {
  margin: 0;
}

p {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: #eee;
}
