.container {
  width: 520px;
  padding-top: 8px;
  border-radius: 8px;
  margin: 24px auto;
  background-color: var(--gray-4);
}

.table {
  display: flex;
  gap: 8px;
}

.TabList {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--gray-5);
}

.Tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;

  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: var(--gray-1);
}

.Tab.focus {
  border-bottom: 2px solid var(--pink-1);
}

.Table {
  padding: 16px 32px;
}
